{%- doc -%}
  @param {object} children - The children of the testimonial card
  @param {object} [block] - The block object
  @param {number} [testimonial_card_gap] - The gap between the testimonial card children (overrides block settings)
{%- enddoc -%}

{% assign block_settings = block.settings %}
{% assign testimonial_card_gap_value = testimonial_card_gap | default: block_settings.testimonial_card_gap %}

<div
  class="testimonial-card"
  id="testimonial-card-{{ block.id }}"
  {{ block.shopify_attributes }}
>
  <div
    class="
      testimonial-card__content
      layout-panel-flex
      layout-panel-flex--column
      testimonial-grid__card
      spacing-style
      border-style
      gap-style
      {% if block_settings.inherit_color_scheme == false %} color-{{ block_settings.color_scheme }}{% endif %}
    "
    style="
      {% render 'border-override', settings: block_settings %}
      {% render 'layout-panel-style', settings: block_settings %}
      {% render 'spacing-style', settings: block_settings %}
      {% render 'gap-style', value: testimonial_card_gap_value %}
      {% if block_settings.padding-inline-start > 0 %}--zoom-out-padding-inline-start: min(var(--padding-xs), {{ block_settings.padding-inline-start | times: 0.7}}px);{% endif %}
      {% if block_settings.padding-inline-end > 0 %}--zoom-out-padding-inline-end: min(var(--padding-xs), {{ block_settings.padding-inline-end | times: 0.7}}px);{% endif %}
      {% if block_settings.padding-block-start > 0 %}--zoom-out-padding-block-start: min(var(--padding-xs), {{ block_settings.padding-block-start | times: 0.7}}px);{% endif %}
      {% if block_settings.padding-block-end > 0 %}--zoom-out-padding-block-end: min(var(--padding-xs), {{ block_settings.padding-block-end | times: 0.7}}px);{% endif %}
    "
  >
    {{ children }}
  </div>
</div>